{% extends 'MapbenderCoreBundle:Template:region/toolbar.html.twig' %}
{% block item_list_body %}
    <li class="toolBarItem logoContainer text-nowrap">
      {% block logo %}
        <a href="{{ path('mapbender_core_welcome_list') }}">
          <img class="logo" src="{{ asset(fom.server_logo) }}"/>
        </a>
      {% endblock %}
    </li>
    {{ parent() }}
{% endblock %}
